<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- https://cdn.jsdelivr.net/gh/ -->
    <!-- https://drive.google.com/uc?id= -->
    <link rel="icon" href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAzP8AAAD//wD/AAAAAKX/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREREREREAAAAAAAAAAABVUAMABEQCAFBVAwAABAIAUAUDAAAEAgBQBQMAAAQCAFVVAzMERAIAUAUDAAQAAgBQBQMABAACAFBVAwAEAAIAVVADMwREAgAAAAAAAAAAABEREREREREAAAAAAAAAAAAAAAAAAAAADAAwAAgAEAAP//AACNxQAApfUAALX1AAC19QAAhEUAALXdAAC13QAApd0AAIxFAAD//wAAgAEAAMADAADgBwAA" type="image/x-icon">

		<title>ฝุ่นละอองขนาดไม่เกิน 2.5 ไมครอน (PM2.5) จังหวัดบุรีรัมย์</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <style>*{font-family:"Sarabun",Sarabun;}</style>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.0/dist/sweetalert2.min.css" integrity="sha256-NWFDlc+2O5YBqGykjREpkSKDMB6yEu5qPecoRrhcsC0=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" integrity="sha256-Yg7qJLDO4djMg5XIDylc8ue2+rliSTwmtJqNQrY6Tck=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/fontawesome.min.css" integrity="sha256-TBe0l9PhFaVR3DwHmA2jQbUf1y6yQ22RBgJKKkNkC50=" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/2.3.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" integrity="sha384-5hBbs6yhVjtqKk08rsxdk9xO80wJES15HnXHglWBQoj3cus3WT+qDJRpvs5rRP2c" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/buttons/3.2.3/css/buttons.bootstrap5.min.css" rel="stylesheet" integrity="sha384-DJhypeLg79qWALC844KORuTtaJcH45J+36wNgzj4d1Kv1vt2PtRuV2eVmdkVmf/U" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/responsive/3.0.4/css/responsive.bootstrap5.min.css" rel="stylesheet" integrity="sha384-seyUnB//1QOFEqox9uI7YTLBgz9jBwFRqZvsEPFrTw6NAsFEo70nhBWsQfODqiYA" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.0/dist/sweetalert2.all.min.js" integrity="sha256-WjwoxFTbs4JzyDmrHgK4VgR+Dz7he8HYwCbocAlNn9k=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/js/all.min.js" integrity="sha256-BAR0H3Qu2PCfoVr6CtZrcnbK3VKenmUF9C6IqgsNsNU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha384-+mbV2IY1Zk/X1p/nWllGySJSUN8uMs+gUAN10Or95UBH0fpj6GfKgPmgC5EXieXG" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.min.js" integrity="sha384-LiV1KhVIIiAY/+IrQtQib29gCaonfR5MgtWzPCTBVtEVJ7uYd0u8jFmf4xka4WVy" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.bootstrap5.min.js" integrity="sha384-G85lmdZCo2WkHaZ8U1ZceHekzKcg37sFrs4St2+u/r2UtfvSDQmQrkMsEx4Cgv/W" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.min.js" integrity="sha384-zlMvVlfnPFKXDpBlp4qbwVDBLGTxbedBY2ZetEqwXrfWm+DHPvVJ1ZX7xQIBn4bU" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.bootstrap5.min.js" integrity="sha384-BdedgzbgcQH1hGtNWLD56fSa7LYUCzyRMuDzgr5+9etd1/W7eT0kHDrsADMmx60k" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.colVis.min.js" integrity="sha384-v0wzF6NECWiQyIain/Wacl6wEYr6NDJRus6qpckumPIngNI9Zo0sDMon5lBh9Np1" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js" integrity="sha384-+E6fb8f66UPOVDHKlEc1cfguF7DOTQQ70LNUnlbtywZiyoyQWqtrMjfTnWyBlN/Y" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js" integrity="sha384-FvTRywo5HrkPlBKFrm2tT8aKxIcI/VU819roC/K/8UrVwrl4XsF3RKRKiCAKWNly" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.min.js" integrity="sha384-A6In5tKqlvPZKDpH+ei4A3A4TZrEsyvvN2Fe+oCB1IaQfGD5HNqDIxwjztNKSGDd" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.4/js/responsive.bootstrap5.js" integrity="sha384-hyp/YDWGBMFqg7pJuS+y+2VWJkwnOyX+oMN9fWcxINo2flqjC/SdNaHj8LIV4zKJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/50c02838bd45e31/js/vfs_fonts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/dist/boxicons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    
    <script>
      $.LoadingOverlay("show")
      var forms = document.querySelectorAll("form")
      window.onload = () => {
        $.LoadingOverlay("hide")
        for (var i = 0; i < forms.length; i++) {
          forms[i].addEventListener("submit", event => {
            event.preventDefault()
          })
        }
      }
    </script>

    <style>
      /* // animate */
      @keyframes ldio-jlr7wkz6w2 {
        0% {
        transform: rotate(0)
        }

        100% {
        transform: rotate(360deg)
        }
      }
      .ldio-jlr7wkz6w2 div {
        box-sizing: border-box !important
      }
      .ldio-jlr7wkz6w2>div {
        position: absolute;
        width: 72px;
        height: 72px;
        top: 14px;
        left: 14px;
        border-radius: 50%;
        border: 8px solid #000;
        border-color: #e15b64 transparent #e15b64 transparent;
        animation: ldio-jlr7wkz6w2 2.564102564102564s linear infinite;
      }
      .ldio-jlr7wkz6w2>div:nth-child(2),
      .ldio-jlr7wkz6w2>div:nth-child(4) {
        width: 54px;
        height: 54px;
        top: 23px;
        left: 23px;
        animation: ldio-jlr7wkz6w2 2.564102564102564s linear infinite reverse;
      }
      .ldio-jlr7wkz6w2>div:nth-child(2) {
        border-color: transparent #f8b26a transparent #f8b26a
      }
      .ldio-jlr7wkz6w2>div:nth-child(3) {
        border-color: transparent
      }
      .ldio-jlr7wkz6w2>div:nth-child(3) div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
      }
      .ldio-jlr7wkz6w2>div:nth-child(3) div:before,
      .ldio-jlr7wkz6w2>div:nth-child(3) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: -8px;
        left: 24px;
        background: #e15b64;
        border-radius: 50%;
        box-shadow: 0 64px 0 0 #e15b64;
      }
      .ldio-jlr7wkz6w2>div:nth-child(3) div:after {
        left: -8px;
        top: 24px;
        box-shadow: 64px 0 0 0 #e15b64;
      }
      .ldio-jlr7wkz6w2>div:nth-child(4) {
        border-color: transparent;
      }
      .ldio-jlr7wkz6w2>div:nth-child(4) div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
      }
      .ldio-jlr7wkz6w2>div:nth-child(4) div:before,
      .ldio-jlr7wkz6w2>div:nth-child(4) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: -8px;
        left: 15px;
        background: #f8b26a;
        border-radius: 50%;
        box-shadow: 0 46px 0 0 #f8b26a;
      }
      .ldio-jlr7wkz6w2>div:nth-child(4) div:after {
        left: -8px;
        top: 15px;
        box-shadow: 46px 0 0 0 #f8b26a;
      }
      .loadingio-spinner-double-ring-v7lz2rrp5hk {
        width: 30px;
        height: 30px;
        display: inline-block;
        overflow: hidden;
        background: none;
      }
      .ldio-jlr7wkz6w2 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(0.3);
        backface-visibility: hidden;
        transform-origin: 0 0;
      }
      .ldio-jlr7wkz6w2 div {
        box-sizing: content-box;
      }

      .twitter-typeahead {
        width:100%;
      }

      .tt-menu {
        width:100%;
        border:1px solid #eee;
        border-top:none;
      }

      .tt-suggestion {
        padding:10px 5px;
        background:#fff;
        border-bottom:1px solid #eee;
        cursor:pointer;
      }

      .tt-cursor, .tt-suggestion:hover {
        background:#f5f5f5;
      }

      .twitter-typeahead {
        width:100%;
      }

      .tt-hint {
        opacity:.3 !important;
      }
    /* // animate */
    </style>
	</head>
	<body>
    <input type="hidden" value="https://script.google.com/macros/s/AKfycbz4bk6o6vu8diUu0oAemUaJUQrYBeTEFzQEEduhao0BodgVYWYDg1hgVu2PTLEaewCo/exec" id="url" /><script>var url = document.getElementById("url").value;</script>
    <script>window.onload = function() {new Vue({el: "#app", data, methods})}</script>
    <main class="container">
      <div id="app" v-cloak>
        <template v-if="showMain">
          <div class="row">
            <div class="card text-center">
              <div class="card-header text-bg-success p-3">
                <i class="fa-solid fa-database"></i>
                  ฝุ่นละอองขนาดไม่เกิน 2.5 ไมครอน (PM2.5) จังหวัดบุรีรัมย์
              </div>
              <div class="card-body">
                <div id="searchForm" class="form-inline">
                  <div class="row">
                    <div class="form-group mb-2">
                      <label for="searchForm">
                        กรุณาเลือกอำเภอ
                        <br>
                        ที่ต้องการดูข้อมูล PM2.5 รายตำบล
                      </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                      <select id="district">
                        <option value="0">เลือกอำเภอ</option>
                        <option value="3101">เมืองบุรีรัมย์</option>
                        <option value="3103">กระสัง</option>
                        <option value="3102">คูเมือง</option>
                        <option value="3122">แคนดง</option>
                        <option value="3123">เฉลิมพระเกียรติ</option>
                        <option value="3118">ชำนิ</option>
                        <option value="3104">นางรอง</option>
                        <option value="3113">นาโพธิ์</option>
                        <option value="3120">โนนดินแดง</option>
                        <option value="3117">โนนสุวรรณ</option>
                        <option value="3108">บ้านกรวด</option>
                        <option value="3121">บ้านด่าน</option>
                        <option value="3119">บ้านใหม่ไชยพจน์</option>
                        <option value="3107">ประโคนชัย</option>
                        <option value="3112">ปะคำ</option>
                        <option value="3115">พลับพลาชัย</option>
                        <option value="3109">พุทไธสง</option>
                        <option value="3106">ละหานทราย</option>
                        <option value="3110">ลำปลายมาศ</option>
                        <option value="3111">สตึก</option>
                        <option value="3105">หนองกี่</option>
                        <option value="3114">หนองหงส์</option>
                        <option value="3116">ห้วยราช</option>
                      </select>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                      <input class="btn btn-primary mb-2 rounded-pill" type="button" id="submit" value="ค้นหา" @click="submit">
                      <br>
                      <input class="btn btn-warning mb-2 rounded-pill" type="button" id="proBtn" value="ดาวน์โหลดสถานการณ์ภาพรวมจังหวัด" @click="proData">
                    </div>
                  </div>
                  <div class="row">
                    <div id="results" class="table-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <iframe scrolling="yes" style="width: 100%; height: 1200px; border: 0;" src="https://pm25.gistda.or.th/"></iframe>
          </div>
        </template>
        <footer v-if="showMain">
          <div class="w3-container w3-theme">
            <p class="w3-center w3-mobile">
              <center>Copyright © 2019-present by Chatrawichai Chanprom | ลิขสิทธิ์และพัฒนาโดย นายชาติระวีไชย จันทร์พร้อม</center>
            </p>
          </div>
        </footer>
        <div class="message" v-if="message">
          <div class="w3-card">
            <div class="w3-padding" :class="message.type=='Error' ? 'w3-red': 'w3-theme'">
              {{message.type}}
            </div>
            <div class="w3-padding">
              <p class="w3-small">
                {{message.message}}
              </p>
              <button class="w3-button w3-round" :class="message.type=='Error' ? 'w3-red': 'w3-theme'" @click="closeMessageBox">
                OK
              </button>
            </div>
          </div>
        </div>
        <div class="message loading" v-if="submitting"></div>
      </div>
    </main>
    <!-- let data -->
      <script>
        let data = {
          message: null,
          submitting: false,
          showMain: true,
        };
      </script>
    <!-- let data -->
    <!-- let methods -->
      <script>
        let methods = {
          submit: async function() {
            this.showMain = false;
            this.submitting = true;
            let results = document.getElementById("results");
                results.innerHTML = "";
            let info = document.getElementById("district");
            if (info.value == "0") {
              Swal.fire({
                icon: "error",
                title: "คำเตือน !!!",
                html: "<b>กรุณาเลือกอำเภอ</b><br /><br />",
                confirmButtonText:"<i class='fa fa-frown-o'></i>&nbsp; ปิดหน้าต่าง",
                timer: 60000,
                timerProgressBar: true,
                allowOutsideClick: false,
              });
              results.innerHTML = "";
              this.submitting = false;
              this.showMain = true;
            }
            else {
              Swal.fire({icon: 'info', title: 'กำลังประมวลผล กรุณารอสักครู่ !!!', timerProgressBar: true, allowOutsideClick: false, didOpen: () => {Swal.showLoading()}});
              try {
                let results = {}, data = [];
                const resPM25 = pm25 => {
                  let getLevel = '';
                  let getDescription = '';
                  let getPeople = '';
                  if (pm25 > 75.0) {
                    getLevel = 'คุณภาพอากาศอยู่ในเกณฑ์มีผลกระทบต่อสุขภาพ (สีแดง)';
                    getDescription = '75.1 ไมโครกรัมต่อลูกบาศก์เมตร (µg/m³) ขึ้นไป';
                    getPeople = 'ประชาชนทุกคน\n - งดกิจกรรมกลางแจ้ง\n - หากมีความจำเป็นต้องทำกิจกรรมกลางแจ้งให้ใช้อุปกรณ์ป้องกันตนเองทุกครั้ง เช่น หน้ากากป้องกัน PM2.5\n - หากมีอาการผิดปกติให้รีบไปพบแพทย์\n - ผู้ที่มีโรคประจำตัว ควรอยู่ในพื้นที่ปลอดภัยจากมลพิษทางอากาศ ให้เตรียมยาและอุปกรณ์ที่จำเป็นให้พร้อมและปฏิบัติตามคำแนะนำของแพทย์อย่างเคร่งครัด';
                  }
                  else if (pm25 > 37.5) {
                    getLevel = 'คุณภาพอากาศอยู่ในเกณฑ์เริ่มมีผลกระทบต่อสุขภาพ (สีส้ม)'
                    getDescription = '37.6 - 75.0 ไมโครกรัมต่อลูกบาศก์เมตร (µg/m³)';
                    getPeople = 'ประชาชนทั่วไป :\n - ใช้อุปกรณ์ป้องกันตนเอง เช่น หน้ากากป้องกัน PM2.5 ทุกครั้งที่ออกนอกอาคาร\n - จำกัดระยะเวลาในการทำกิจกรรมหรือการออกกำลังกายกลางแจ้งที่ใช้แรงมาก\n - ควรสังเกตอาการผิดปกติ เช่น ไอ หายใจลำบาก ระคายเคืองตา\n\n ประชาชนกลุ่มเสี่ยง :\n - ใช้อุปกรณ์ป้องกันตนเอง เช่น หน้ากากป้องกัน PM2.5 ทุกครั้งที่ออกนอกอาคาร\n - เลี่ยงการทำกิจกรรมหรือการออกกำลังกายกลางแจ้งที่ใช้แรงมาก\n - ให้ปฏิบัติตามคำแนะนำของแพทย์ หากมีอาการผิดปกติให้รีบไปพบแพทย์';
                  }
                  else if (pm25 > 25.0) {
                    getLevel = 'คุณภาพอากาศอยู่ในเกณฑ์ปานกลาง (สีเหลือง)';
                    getDescription = '25.1 - 37.5 ไมโครกรัมต่อลูกบาศก์เมตร (µg/m³)';
                    getPeople = 'ประชาชนทั่วไป :\n ลดระยะเวลาการทำกิจกรรมหรือการออกกำลังกายกลางแจ้งที่ใช้แรงมาก\n\n  ประชาชนกลุ่มเสี่ยง :\n - ใช้อุปกรณ์ป้องกันตนเอง เช่น หน้ากากป้องกัน PM2.5 ทุกครั้ง ที่ออกนอกอาคาร\n - ลดระยะเวลาการทำกิจกรรมหรือการออกกำลังกายกลางแจ้งที่ใช้แรงมาก\n - หากมีอาการผิดปกติให้รีบปรึกษาแพทย์';
                  }
                  else if (pm25 > 15.0) {
                    getLevel = 'คุณภาพอากาศอยู่ในเกณฑ์ดี (สีเขียว)';
                    getDescription = '15.1 - 25.0 ไมโครกรัมต่อลูกบาศก์เมตร (µg/m³)';
                    getPeople = 'ประชาชนทั่วไป :\n สามารถทำกิจกรรมกลางแจ้งได้ตามปกติ\n\n ประชาชนกลุ่มเสี่ยง :\n ควรสังเกตอาการผิดปกติ เช่น ไอบ่อย หายใจลำบาก หายใจถี่ หายใจไม่ออก หายใจมีเสียงวี้ด แน่นหน้าอก เจ็บหน้าอก ใจสั่น คลื่นไส้ เมื่อยล้าผิดปกติ หรือ วิงเวียนศีรษะ';
                  }
                  else if (pm25 <= 15.0) {
                    getLevel = 'คุณภาพอากาศอยู่ในเกณฑ์ดีมาก (สีฟ้า)';
                    getDescription = '0 - 15.0 ไมโครกรัมต่อลูกบาศก์เมตร (µg/m³)';
                    getPeople = 'ประชาชนทุกคนสามารถดำเนินชีวิตได้ตามปกติ';
                  }
                  return {pm25, getLevel, getDescription, getPeople};
                }
                const responsePM25Amphoe = await fetch("https://pm25.gistda.or.th/rest/getPm25byAmphoePred3?pv_idn=31");
                const jsonPM25Amphoe = await responsePM25Amphoe.json();
                const dataPM25Amphoe = jsonPM25Amphoe.data;
                for (let index = 0; index < dataPM25Amphoe.length; index++) {
                  const r = dataPM25Amphoe;
                  if (info.value == r[index].ap_idn) {
                    const pm25Avg24hr = r[index].pm25Avg24hr;
                    const pm25Avg24hr_ap_tn = pm25Avg24hr.toFixed(1);
                    results.dataPM25Amphoe = resPM25(pm25Avg24hr_ap_tn);
                    results.district = r[index].ap_tn;
                  }
                };
                const responsePM25Tambon = await fetch("https://pm25.gistda.or.th/rest/getPm25byTambonPred3?ap_idn="+info.value);
                const jsonPM25Tambon = await responsePM25Tambon.json();
                const dataPM25Tambon = jsonPM25Tambon.data;
                for (let index = 0; index < dataPM25Tambon.length; index++) {
                  const r = dataPM25Tambon;
                  const pm25Avg24hr = r[index].pm25Avg24hr;
                  const pm25Avg24hr_tb_tn = pm25Avg24hr.toFixed(1);
                  const getData = resPM25(pm25Avg24hr_tb_tn);
                  const tb_tn = r[index].tb_tn;
                  data.push([tb_tn, getData.pm25, getData.getLevel]);
                };
                const output = {data: data, id: results.district, pm25: results.dataPM25Amphoe.pm25, level: results.dataPM25Amphoe.getLevel};
                const res = output
                results.innerHTML = "";
                this.submitting = false;
                this.showMain = true;
                if (res.data && res.data !== undefined && res.data.length != 0) {
                  Swal.fire({
                    icon: "success",
                    title: "อำเภอ"+res.id,
                    html: "ค่า PM2.5 (µg/m³) : "+res.pm25+"<br>ระดับ PM2.5 : "+res.level+"<br><br>"+"<table class='table table-sm table-striped table-hover' id='dtable'></table>",
                    confirmButtonText:"<i class='fa fa-thumbs-o-up'></i>&nbsp; ปิดหน้าต่าง",
                    timerProgressBar: true,
                    allowOutsideClick: false,
                  });
                  $(document).ready(function() {
                    pdfMake.fonts = {
                      Roboto: {
                        normal: "Roboto-Regular.ttf",
                        bold: "Roboto-Medium.ttf",
                        italics: "Roboto-Italic.ttf",
                        bolditalics: "Roboto-MediumItalic.ttf",
                      },
                    }
                    $("#dtable").DataTable({
                      data: res.data,
                      dom: "Bfrtip",
                      buttons: ["excel", "pdf"],
                      responsive: true,
                      searching: false,
                      language: {
                        url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Thai.json",
                      },
                      columns: [
                        {"title" : "ตำบล"},
                        {"title" : "ค่า PM2.5 (µg/m³)"},
                        {"title" : "ระดับ PM2.5"},
                      ],
                    });
                  });
                }
              }
              catch (e) {
                this.submitting = false;
                this.message = {
                  type: "Error",
                  message: e.message,
                };
              }
            }
          },
          proData: async function() {
            this.submitting = true;
            let results = document.getElementById("results");
                results.innerHTML = "";
            $.LoadingOverlay("show");
            try {
              const response = await fetch(url+"?data=pm25");
              const json = await response.json();
              const res = json.data;
              console.log(res);
              $.LoadingOverlay("hide");
              this.submitting = false;
              results.innerHTML = "<a href='"+res.url+"'>"+res.name+"</a>";
            }
            catch (e) {
              this.submitting = false;
              this.message = {
                type: "Error",
                message: e.message,
              };
            }
          },
          closeMessageBox: function() {
            this.message = null;
          },
        };
      </script>
    <!-- let methods -->
	</body>
</html>
